<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539791238889-ret00om8dl6ruf7kiio3104ovqndaahe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539791238889-ret00om8dl6ruf7kiio3104ovqndaahe</string>
	<key>API_KEY</key>
	<string>AIzaSyCpCDFlv-z-7ejEFnucTIYMB2eXBhz1Dzk</string>
	<key>GCM_SENDER_ID</key>
	<string>539791238889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ghulamrasuldev.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-ghulamrasuldev</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-ghulamrasuldev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539791238889:ios:731c1297f1ada71d02f278</string>
</dict>
</plist>